﻿<%@ Page Title="" Language="C#" MasterPageFile="admin.master" AutoEventWireup="true" CodeFile="admincp.aspx.cs" Inherits="admin_admincp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table style="background: url('imgs\/style\/adminbody.png');" width="788" align="center">
        <tr>
            <td align="center">
                <table height="200">
                    <tr>
                        <td><asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/imgs/style/general.png" OnClick="ImageButton1_Click" />
                        </td>
                        <td><asp:ImageButton ID="ImageButton2" runat="server" ImageUrl="~/imgs/style/store.png" OnClick="ImageButton2_Click" />
                        </td>
                        <td><asp:ImageButton ID="ImageButton3" runat="server" ImageUrl="~/imgs/style/members.png" OnClick="ImageButton3_Click" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</asp:Content>

