﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <table table style="background-color:RGB(238,238,238); padding-bottom:4px; padding-top:15px;" border-right:1px solid gray; border-left:1px solid gray;" cellpadding="0" cellspacing="0" width="766">
        <tr>
            <td width="75%" align="left" valign="top">
                <table style="margin:5px;" width="100%">
                    <tr>
                        <td>
                            <asp:DataList ID="DataList1" runat="server" Width="100%">
                                <ItemTemplate>
                                <table width="99%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="center" height="38" style="background-image: url('./imgs/style/logintitle.png'); border:solid 1px gray; background-repeat: repeat-x;">
                                             <%#DataBinder.Eval(Container.DataItem, "title") %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:solid 1px gray;">
                                             <%#DataBinder.Eval(Container.DataItem, "news") %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="5"></td>
                                    </tr>
                                </table>
                                    </ItemTemplate>
                            </asp:DataList>
                        </td>

                    </tr>
                </table>
            </td>
            <td valign="top">
                <table width="100%" style="margin-top:5px; border:solid 1px gray;">
                    <tr>
                        <td align="center" height="38" style="background-image: url('./imgs/style/logintitle.png'); background-repeat: repeat-x;">Website statistics</td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</asp:Content>

