﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .navbarbutton {
            background: url('imgs\/style\/but.jpg') no-repeat;
            width: 130px;
        }
    </style>
    <asp:ContentPlaceHolder id="head" runat="server">
        
    </asp:ContentPlaceHolder>
</head>
<body>
    
    <form id="form1" runat="server">
    <div align="center">
         <table width="766" cellpadding="0" cellspacing="0">
                <tr height="90">
                    <td width="256" style="background: url('imgs\/style\/bg1.gif') repeat-x;" class="auto-style1">
                        <table cellpadding="1" cellspacing="1" border="1" style="margin-left:10px; border-color:white; border-style:double;">
                            
                            <tr>
                                <td align="left">U.S Dollar</td><td align="left">
                                <asp:Label ID="usdlabel" runat="server"> </asp:Label> Shekels
                                </td>
                                
                            </tr>
                            <tr>
                                <td align="left">Euro</td><td align="left">
                                <asp:Label ID="eurolbl" runat="server"></asp:Label> Shekels
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="510" align="center" style="background: url('imgs\/style\/bg2.gif') repeat-x;">
                        <asp:Panel ID="cartPanel" runat="server">
                            <table cellpadding="0" cellspacing="0" width="100%" align="left">
                            
                                <tr align="left">
                                    <td rowspan="3" width="15"></td>
                                    <td rowspan="3" width="90" height="90">
                                        <asp:Image Width="90" Height="90" ID="avatarImg" runat="server" />
                                    </td>
                                    <td colspan="2"><span style="font-family:David; color:white;">Welcome back,</span>  
                                        <asp:LinkButton ID="LinkButton6" runat="server" OnClick="LinkButton6_Click" ForeColor="White">LinkButton</asp:LinkButton>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2"><span style="font-family:David; color:white;">Your messages:
                                        <asp:LinkButton ID="lblMsgs" runat="server" ForeColor="White" OnClick="lblMsgs_Click1"> </asp:LinkButton>
                                        unread messages</span></td>
                                </tr>
                                <tr>
                                    <td align="left"><span style="font-family:David; color:white;">Cart: (<asp:LinkButton ID="LinkButton5" runat="server" OnClick="LinkButton5_Click" ForeColor="White">LinkButton</asp:LinkButton>
                                        ) </span>
                                        <asp:Label ID="Label4" runat="server" ForeColor="#FFFFCC" Text="Label"></asp:Label>
                                    </td><td align="right"><span style="font-family:David; color:white;">
                                        <asp:LinkButton ID="Label1" runat="server" Text="Admin CP" OnClick="Label1_Click" ForeColor="White"></asp:LinkButton>  | Logout</span></td>
                                </tr>
                            </table>
                        </asp:Panel>
                        <asp:Panel ID="loginPanel" runat="server">
                             <table>
                            <tr>
                                <td align="left">
                                    <asp:Label ID="Label3" runat="server" Text="Username" Font-Names="Tahoma" Font-Size="10pt" ForeColor="#0099FF"></asp:Label>
                                </td>
                                <td align="left">
                                    <asp:Label ID="Label2" runat="server" Text="Password" Font-Names="Tahoma" Font-Size="10pt" ForeColor="#0099FF"></asp:Label>
                                </td>
                                <td rowspan="2" valign="bottom">
                                    <asp:Button ID="Button1" runat="server" Text="Login" BackColor="#99CCFF" BorderColor="#66CCFF" BorderStyle="Solid" ForeColor="#0066FF" OnClick="Button1_Click" CausesValidation="False" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                                </td>
                                <td >
                                    <asp:TextBox ID="TextBox2" runat="server" TextMode="Password"></asp:TextBox>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" colspan="3"></td>
                            </tr>
                            <tr>
                                <td align="left" colspan="3"></td>
                            </tr>
                        </table>
                        </asp:Panel>
                    </td>
                </tr>
                <tr height="11">
                    <td colspan="2" style="background: url('imgs\/style\/spacer1.gif') repeat-x;" width="766"></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <table cellpadding="0" cellspacing="0">
                            <tr height="106">
                                <td width="20" style="background: url('imgs\/style\/logo-left.gif') no-repeat;"></td>
                                <td width="728" style="background: url('imgs\/style\/logo-bg.gif') repeat-x;"></td>
                                <td width="18" style="background: url('imgs\/style\/logo-right.gif') no-repeat;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr height="36">
                    <td colspan="3" style="background:url('imgs\/style\/navbg.png') repeat-x;">
                        <table align="left" cellpadding="0" cellspacing="0">
                            <tr height="36">
                                <td class="navbarbutton">
                                    <asp:LinkButton ID="LinkButton1" runat="server" ForeColor="Black" OnClick="LinkButton1_Click">Home</asp:LinkButton>
                                </td>
                                <td class="navbarbutton">
                                    <asp:LinkButton ID="LinkButton2" runat="server" ForeColor="Black" OnClick="LinkButton2_Click">Shop</asp:LinkButton>
                                </td>
                                <td class="navbarbutton">
                                    <asp:LinkButton ID="LinkButton3" runat="server" ForeColor="Black" OnClick="LinkButton3_Click"></asp:LinkButton>
                                </td>
                                <td class="navbarbutton">
                                    <asp:LinkButton ID="LinkButton4" runat="server" ForeColor="Black" OnClick="LinkButton4_Click">About us</asp:LinkButton>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
        <table style="border:1px solid gray;" valign="top" width="766" cellpadding="0" cellspacing="0">
            <tr>
                <td bgcolor="RGB(102,121,154)" width="100%" height="5" valign="top">
                    
                </td>
            </tr>
            <tr>
                <td align="center" >
                    Copyright © 2013 Botros Farah <br />All Rights Reserved 
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
